node_modules
# keep environment variables out of version control
.env
# ignore the local directory which keeps any refs for users to use
local
# ignore logs directory
logs
# ignore the ephemeral storage directory with empty .gitkeep file
public/ephemeral-storage/*
!public/ephemeral-storage/.gitkeep