node_modules
# Keep environment variables out of version control
.env
# Ignore the local directory which keeps any refs for users to use
local
public/ephemeral-storage/*
!public/ephemeral-storage/.gitkeep